.font-face-gb {
  font-family: "GilroyBold";
}
.font-face-gh {
  font-family: "GilroyHeavy";
}
.font-face-gl {
  font-family: "GilroyLight";
}
.font-face-gm {
  font-family: "GilroyMedium";
}
.font-face-gr {
  font-family: "GilroyRegular";
}
.font-face-geb {
  font-family: "GilroyExtraBold";
}
