@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GilroyBold";
  src: url("./font/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "GilroyHeavy";
  src: url("./font/Gilroy-Heavy.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: "GilroyLight";
  src: url("./font/Gilroy-Light.ttf");
}
@font-face {
  font-family: "GilroyMedium";
  src: url("./font/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "GilroyRegular";
  src: url("./font/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "GilroyExtraBold";
  src: url("./font/Gilroy-ExtraBold.ttf");
}

* {
  font-family: "GilroyRegular";
  scroll-behavior: smooth;
}
